.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    position: relative;
    height: 60px;
    width: 100%;
}

.header__logo__nav {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
    margin: 0 auto;
}

.header__logo__nav__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header__logo__nav__container.stuck {
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__nav__mobile {
    display: none;
}


.header__logo {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 900;
}

.header__logo__design {
    color: var(--white-color);
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav__item {
    margin-right: 20px;
}

.header__nav__link.active {
    color: var(--main-color);
    position: relative;
}

.header__nav__link.active::after {
    content: "";
    width: 15px;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 150%);
    z-index: 1;
    position: absolute;
    background-color: var(--main-color);
}

.header__nav__link {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color);
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;

}

.header__nav__link:hover {
    color: var(--main-color);
    transition: 0.3s;
}

.header__nav__bars {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-left: 15px;
    cursor: pointer;
    display: none;
}

.slogan {
    margin-top: 270px;
}

.slogan__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.slogan__text {
    font-size: 3.5rem;
    color: var(--white-color);
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.slogan__text__main {
    margin: 40px 0;
    color: var(--main-color);
    font-size: 5rem;
}

.wellcome {
    margin-top: 100px;
}

.wellcome__title {
    margin: 0 auto;
    text-align: center;
}

.wellcome__title__design.wellcome__it__design {
    display: inline;
    font-size: 3rem;
}

.wellcome__title__design.wellcome__it__design::after {
    top: -50%;
}

.wellcome__title__word {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.wellcome__it {

}

.wellcome__it__item {
    margin-top: 100px;
}

.wellcome__it__box__img {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    border-radius: 10px;
    margin-left: 38px;

}

.wellcome__it__img {
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg) scale(1.4);
}

.wellcome__it__box__text {
    margin-top: 80px;
    width: 80%;
}

.wellcome__it__design::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    top: -100%;
    left: 0;
    border-radius: 15%;

}

.wellcome__it__design {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0;
    position: relative;
}

.wellcome__it__word {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.5;

}

.wellcome__it__btn {
    padding: 5px 20px;
    background-color: var(--black-color);
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: 500;
    border-bottom: 4px solid var(--main-color);

}

.team__achievement__container {
    position: relative;
    margin-top: 100px;
}

.team__achievement__item {
    height: 250px;
    border: 5px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.team__achievement__number {
    font-size: 5rem;
    margin: 0;
    color: var(--main-color);
    font-weight: 400;
    margin-bottom: 10px;
}

.team__achievement__name {
    font-size: 2rem;
    color: var(--white-color);
}

.team__achievement__width {
    position: absolute;
    width: 100%;
    height: 125px;
    background-color: var(--black-color);
    bottom: 0;
    transform: translateY(-50%);
    z-index: -1;

}

.recentwork {
    margin: 100px 0;


}

.recentwork__box {

}

.recentwork__box__nav {
    margin: 60px 0;
}

.recentwork__box__nav__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recentwork__box__nav__item {
    margin-right: 15px;
    margin-bottom: 10px;
}

.recentwork__box__nav__link.active {
    color: var(--main-color);
    background-color: var(--black-color);
    border-color: var(--black-color);
    box-shadow: 1px 1px 2px rgb(170, 170, 170), -1px -1px 2px   rgb(170, 170, 170) ;
}

.recentwork__box__nav__link {
    display: block;
    font-size: 1.1rem;
    color: var(--black-color);
    font-weight: 500;
    padding: 5px 15px;
    border: 2px solid var(--main-color);
    box-shadow: 1px -1px 1px #cef5ed;
    transition: 0.5s ease;
}

.recentwork__box__nav__link:hover {
    color: var(--main-color);
    background-color: var(--black-color);
    border-color: var(--black-color);
    box-shadow: 1px 1px 2px rgb(170, 170, 170), -1px -1px 2px   rgb(170, 170, 170) ;
}

.recentwork__box__items {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}

.recentwork__box__items:hover .recentwork__box__items__text  {
    display: block;
    animation: upOn ease 0.5s;
}

.recentwork__box__items__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: var(--main-color);
    padding: 20px 20px;
    display: none;
}

.recentwork__box__items__text__title {
    font-size: 2.3rem;
    color: var(--white-color);
    margin: 0;
    margin-bottom: 10px;
    position: relative;
}
.recentwork__box__items__text__title::before {
    content: '';
    width: 45px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--black-color);
    position: absolute;
    bottom: -50%;
}

.recentwork__box__items__text__word {
    margin: 0;
    font-size: 1.8rem;
}

.whyChooseUs {

}

.whyChooseUs__box {
    margin-top: 60px;

}

.whyChooseUs__box__container {
    height: 450px;

}


.whyChooseUs__box__slides__app {
    border: 5px solid var(--main-color);
}

.whyChooseUs__box__slides__img {
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
}

.whyChooseUs__box__slides__app__arrow {
    width: 30px;
    height: 80px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.whyChooseUs__box__slides__app__arrow.splide__arrow--next{
    right: 0.01rem;
}

.whyChooseUs__box__slides__app__arrow.splide__arrow--prev {
    left: 0.01rem;
}

.splide__arrow svg {
    width: 1.5rem;
    height: 1.5rem;
}

.splide__arrow svg path{
    fill: var(--main-color);
}

.whyChooseUs__box__work {
    display: flex;
    align-items: center;
}

.whyChooseUs__box__work__items > .whyChooseUs__box__work__item:last-child {
    margin-bottom: 0;
}

.whyChooseUs__box__work__item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.whyChooseUs__box__work__item__icon {
    width: 100px;
    height: 100px;
    border: 3px solid var(--main-color);
    text-align: center;
    line-height: 100px;
    font-size: 6rem;
    color: var(--main-color);
    margin-right: 40px;
}

.whyChooseUs__box__work__item__text {
    height: 100px;
    width: 400px;   
    padding-top: 5px;
}

.team__box__container {
    margin-top: 60px;
}

.recentwork__box__items.team__box__items {
    height: 364px;
}

.recentwork__box__items__text.team__box__items {
    height: 104px;
    padding-top: 30px;
}

.wellcome.our__team__container {
    margin-top: 40px;
}

.our__team__item {
    margin-top: 0;
}

.our__team__text {
    margin-top: 0;
}


.whyChooseUs__box__work__item__icon.our__team__services__icon {
    border: none;
    font-size: 5rem;
    padding: 0;
    width: auto;
    height: auto;   
}

.testimonials {
    background-color: var(--black-color);
    height: 575px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.testimonials__title {
    margin-bottom: 80px;
}

.testimonials__title__design {
    color: var(--main-color);
}

.testimonials__team {
    width: 100%;
    display: flex;
}

.testimonials__team__box__img {
    width: 161px;
    height: 161px;
    margin-right: 30px;
    border: 5px solid var(--main-color);
    padding: 7px;
}

.testimonials__team__img {
    width: 100%;
    height: 100%;
}

.testimonials__team__design {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 300;
}

.testimonials__team__design__ui::after {
    display: none;
}

.testimonials__team__design__ui {
    color: var(--main-color);
    font-size: 2rem;
    margin-top: 15px;
}

.testimonials__team__word {
    color: rgb(189, 188, 188);
}

.testimonials__team__items {
    display: flex;
}

.testimonials__arrow {
    display: none;
}

.testimonials__pagination {
    bottom: -50%;
}

.testimonials__pagination > li {
    margin-right: 10px;
}

.testimonials__pagination .splide__pagination__page {
    background-color: black;
    border-radius: 0;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    opacity: 1;
    text-align: center;
    position: relative;
}

.testimonials__pagination .splide__pagination__page.is-active::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    border: 2px solid var(--main-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.our__blogs {

}

.our__blogs__box__img {
    transform: rotate(0deg);
    border-radius: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}

.our__blogs__img {
    transform: rotate(0deg);
    position: relative;
}

.our__blogs__date {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 5%;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
    background-color: var(--black-color);
    margin: 0;
    padding: 5px 10px;

}

.our__blogs__text {
    margin-top: 30px;
}

.our__blogs__text .wellcome__it__design{
    line-height: 1.2;
}

.our__blogs__text .wellcome__it__design::after{
    display: none;
}

.our__blogs__btn {
    border: none;
    background-color: transparent;
    color: var(--black-color);
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
}

.our__blogs__btn__right {
    font-size: 1.5rem;
    margin-left: 5px;
}

.footer {
    margin-top: 100px;
    width: 100%;
    background-color: var(--black-color);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__items {
    color: white;
    text-align: left;
    margin-bottom: 100px;
}

.footer__items__item {
    text-align: left;
}

.footer__items__text-word {
    width: auto;
    margin: 0;
    margin-top: 40px;
    color: var(--white-color);
}

.footer__items__item-list {
    width: 100%;
    display: flex;
    padding: 0 60px 0 0;
    margin-top: 40px;
}

.footer__items__item-list-item {
    margin-right: 20px;
}

.footer__items__item-link {

}

.footer__items__item-icon {
    font-size: 2.5rem;
    color: var(--white-color);
    transition: 0.3s ease;
}

.footer__items__item-icon:hover {
    color: var(--main-color);
}

.quickLick__items__item-list {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.quickLick__items__item-link {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
    display: block;
    font-weight: 300;
    transition: 0.3s;
}

.quickLick__items__item-link:hover {
    color: var(--main-color);
}

.recentPost__items__box {
    display: flex;
    margin-top: 40px;
}

.recentPost__items__box:last-child {
    margin-top: 20px;
}

.recentPost__items__box-img {
    width: 105px;
    height: 75px;
    background-color: white;
    flex: 30;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}

.recentPost__items__box-text {
    flex: 70;
    text-align: left;
}

.recentPost__items__text-tittle {
    margin: 0;
    font-size: 2rem;
}

.recentPost__items__text-word {
    color: #dadada; 
}

.contact__items__item-list {
    padding: 0;
}

.contact__items__item {
    display: flex;
    width: 100%;

}
.contact__items__item-link {
    line-height: 1.3;
}
.contact__items__item-icon {    
    font-size: 2rem;
    margin-right: 20px;
}

.footer__contact {
    text-align: center;
}

.footer__contact__text {
    font-size: 3.5rem;
    font-weight: 700;
}

.footer__contact__info {
    color: var(--white-color);
    font-size: 1.8rem;
}

.footer__contact__info-theme {
    color: var(--main-color);
}







