@media (max-width: 1023px) {
    .hide-on-mobile-desktop {
        display: none;
    }
    
    .header__nav__bars {
        display: block;
        position: fixed;
        top: 15px;
        right: 5%;
        font-size: 3rem;
        z-index: 100;
    }

    .header__logo__nav {
        height: 60px;
    }

    .header__nav__item {
        margin: unset;
        margin-left: auto;
        margin-right: 20px;
    }

    .slogan__text {
        font-size: 2.5rem;
        white-space: nowrap;
    }
    
    .header__nav__mobile {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        margin-top: 60px;
        user-select: none;
        z-index: 20000;
    }

    .show-nav {
        display: block;
        animation: widthOn 0.5s ease;
    }

    .team__achievement.container {
        background-color: var(--black-color);
    }

    .header__nav__mobile .header__nav__item {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .team__achievement__item {
        margin-bottom: 20px;
    }
}

@media (max-width: 1023px) {
    .slogan__text {
        font-size: 2rem;
    }
    .wellcome__title__word {
        width: 200px;
    }

    .recentwork__box__nav__link {
        padding: 5px;
    }
}